	<!--##################################
		# 								 #
		#	SECTION UML 				 #
		#								 #
		##################################
	 -->
	 <!-- INTRO -->
	<section id="fh5co-explore" data-section="uml">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">Qu'est ce qu'un diagramme UML?</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext to-animate">
							<h3>Le langage UML est une standardisation de différents diagrammes de conceptions qui peuvent être utilisés à différentes étapes du développement d'un produit. Utilisé dans la phase d'analyse ces diagrammes permettent une communication efficace et claire entre les différents acteur du développement (client, développeurs, designer ...) mais aussi permet décrire de façon précise les besoins des utilisateurs ou des clients, ce qui essentiel pour n'importe quel projet d'envergure, notamment les applications mobiles</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- LEFT -->
		<div class="fh5co-explore fh5co-explore-bg-color">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-pull-1 to-animate-3">
						<img class="img-responsive" src="images/cas_utilisation.png" alt="image cas d'utilisation">
					</div>
					<div class="col-md-6 to-animate-3">
						<div class="mt">
							<div>
								<h2>Cas d’Utilisation</h2>
								<p>Représente les fonctionnalités (ou dit cas d’utilisation) nécessaires aux utilisateurs. Ce diagramme est une représentation la plus simpliste possible entre un utilisateur et les différents cas d’utilisation auxquels il peut prendre part. Il peut permettre notamment d’identifier les potentiels utilisateurs et composants d’un système. Utile par exemple en communiquant avec un client.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- RIGHT -->
		<div class="fh5co-explore fh5co-explore-bg-color-white">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-push-5 to-animate-2">
						<img class="img-responsive" src="images/Classes.PNG" alt="image classes">
					</div>
					<div class="col-md-6 col-md-pull-8 to-animate-2">
						<div class="mt">
							<div>
								<h2>Diagramme de Classes</h2>
								<p>Le diagramme de classe est l’outil de conception le plus utilisé dans le cadre de la programmation orienté objet (POO). Il permet de représenter les différentes classes, avec leurs attributs et méthodes, ainsi que les relations entre celles-ci (héritage, implémentation d’interfaces, appartenance …).</p>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		
		<!-- LEFT -->
		<div class="fh5co-explore fh5co-explore-bg-color">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-pull-1 to-animate-3">
						<img class="img-responsive" src="images/objets.png" alt="image objets">
					</div>
					<div class="col-md-6 to-animate-3">
						<div class="mt">
							<div>
								<h2>Diagramme d’Objets</h2>
								<p>Un diagramme d’objets permet de représenter une vue partielle ou complète de la structure d’un système complexes à un instant spécifique en utilisant des exemple d’instances, il s’agit d’une spécialisation d’un diagramme de classe.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- RIGHT -->
		<div class="fh5co-explore fh5co-explore-bg-color-white">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-push-5 to-animate-2">
						<img class="img-responsive" src="images/sequence.png" alt="image sequence">
					</div>
					<div class="col-md-6 col-md-pull-8 to-animate-2">
						<div class="mt">
							<div>
								<h2>Diagramme Séquence</h2>
								<p>Un diagramme de séquence représente les interactions entre les différents objets qui composent le système. Une séquence est un scénario d’utilisation du système. La temporalité est respectée de manière verticale sur le diagramme.</p>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		
		<!-- LEFT -->
		<div class="fh5co-explore fh5co-explore-bg-color">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-pull-1 to-animate-3">
						<img class="img-responsive" src="images/activites.png" alt="image activité">
					</div>
					<div class="col-md-6 to-animate-3">
						<div class="mt">
							<div>
								<h2>Diagramme d’activité</h2>
								<p>Le diagramme d’activité permet de représenter graphiquement le “workflow” de certaines activités ou fonctionnalités, en représentant les différents états du système par des colonnes sur le diagramme. Les transitions entre états sont ensuite modélisées par un ensemble d'actions et de décisions qui constituent le workflow du système. Ce diagramme permet de visualiser le déroulement des actions réalisé au sien du système.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- RIGHT -->
		<div class="fh5co-explore fh5co-explore-bg-color-white">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-push-5 to-animate-2">
						<img class="img-responsive" src="images/etat_transition.png" alt="image etat-transition">
					</div>
					<div class="col-md-6 col-md-pull-8 to-animate-2">
						<div class="mt">
							<div>
								<h2>Diagramme d’Etat-transition</h2>
								<p>Un diagramme d’état permet de représenter les différents états du système, ainsi que les conditions nécessaires pour passer d’un état à l’autre (événements, conditions …). Il permet aussi offrir une vision complète et non ambiguë de l'ensemble des comportements de l'élément auquel il est attaché. En effet, celui-ci permet de décrire le cycle de vie des objets d’une classe.</p>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		
		<!-- LEFT -->
		<div class="fh5co-explore fh5co-explore-bg-color">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-pull-1 to-animate-3">
						<img class="img-responsive" src="images/composants.png" alt="image composants">
					</div>
					<div class="col-md-6 to-animate-3">
						<div class="mt">
							<div>
								<h2>Diagramme de Composants</h2>
								<p>Le diagramme de composants est utilisé dans le cadre de projets importants, qui nécessitent d’être séparés en différents composants. Ce diagramme permet alors de représenter la structure organisant ces composants utiles à son exécution.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- RIGHT -->
		<div class="fh5co-explore fh5co-explore-bg-color-white">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-push-5 to-animate-2">
						<img class="img-responsive" src="images/global_interaction.png" alt="image global interaction">
					</div>
					<div class="col-md-6 col-md-pull-8 to-animate-2">
						<div class="mt">
							<div>
								<h2>Diagramme global d'interaction</h2>
								<p>Permet de donner une vue d’ensemble des interactions du système.</p>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		
		<!-- LEFT -->
		<div class="fh5co-explore fh5co-explore-bg-color">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-pull-1 to-animate-3">
						<img class="img-responsive" src="images/deploiement.png" alt="image deploiement">
					</div>
					<div class="col-md-6 to-animate-3">
						<div class="mt">
							<div>
								<h2>Diagramme de Déploiement</h2>
								<p>Un diagramme de déploiement représente le déploiement physique des différents modules du système. Par exemple, pour un site web, les différents modules pourraient être le serveur web, un serveur d’application, une base de données … Le diagramme permet de représenter la façon dont ces modules sont connectés.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- CONCLUSION -->
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">Diagrammes UML adaptés pour la modélisation d'application mobile</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext to-animate">
							<h3><u>Cas d'utilisation :</u> Il permet d'identifier toutes les utilisations que l'on peut faire du système, pour définir les besoins avec le client. </h3>
							<h3><u>Diagramme global d'interaction :</u> Il permet d'établir l'enchaînement des différentes activités de l'application. Il est très intéressant dans le cadre d'une application mobile de part l'architecture de ces dernières (Navigations entre fenêtres uniques).  </h3>
							<h3><u>Activités :</u> Diagramme permettant de détailler une activité de l'application. Très utile pour les mêmes raisons que citées précédemment.  </h3>
							<h3><u>Classes :</u>  L'interaction entre l'appareil et l'utilisateur étant poussé à son paroxysme avec une application mobile, le diagramme de séquence est ici très utile. Celui-ci sert à mettre en exergue les différents processus et traitements résultant d'une interaction homme-machine lors de l'utilisation du logiciel. </h3>
							<h3><u>Séquence :</u> L'interaction entre l'appareil et l'utilisateur étant poussé à son paroxysme avec une application mobile, le diagramme de séquence est ici très utile. Celui-ci sert à mettre en exergue les différents processus et traitements résultant d'une interaction homme-machine lors de l'utilisation du logiciel. </h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
	</section>